.header {
  width: 100%;
  position: fixed;
  left: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.7);
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
.header__logo {
  display: inline-block;
  transition: opacity 0.4s linear;
  width: 150px;
  height: 50px;
}
.header__logo img {
  width: 100%;
  height: 100%;
  display: inline-block;
  object-fit: cover;
  transform: scale(2);
}

.overlayMenu {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000c0;
  z-index: 11;
  
}
.overlayMenuOpen {
  visibility: visible;
}

.menu__wrapper {
  position: absolute;
  max-width: 550px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
  top: 0;
  left: 50%;
  padding: 20px 15px;
  border: 1.5px solid transparent;
  border-radius: 20px;
  background: rgba(255, 255, 238, 0.725);
  transform: translate(-50%, -50%) scale(0.1);
  visibility: hidden;
  transition: transform .5s ease;
}

.openHeaderMenu {
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  visibility: visible;
}

